[Unit]
Description=Hyprsunset Night Light Scheduler
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'hour=$(date +%%H); if [ "$hour" -ge 20 ] || [ "$hour" -lt 6 ]; then hyprsunset -t 4000; else killall -q hyprsunset; fi'

[Install]
WantedBy=multi-user.target
